@import '../../style/var';

.vita-tab {
  position: relative;
  flex: 1;
  box-sizing: border-box;
  min-width: 0; // hack for flex ellipsis
  padding: 0 5px;
  color: @text-gray;
  font-size: @font-size-base;
  line-height: @font-size-base+6;
  text-align: center;
  cursor: pointer;
  &--active {
    color: @primary;
    font-weight: bold;
  }
  &__text {
    position: relative;
  }
}

.vita-tabs {
  position: relative;
  &__wrap {
    overflow: hidden;
  }
  &__nav {
    position: relative;
    display: flex;
    background-color: @white;
    user-select: none;

    box-sizing: content-box;
    height: 100%;
    padding-bottom: 15px; /* 15px padding to hide scrollbar in mobile safari */
  }

  &__line {
    width: 20px;
    position: absolute;
    bottom: 15px;
    left: 0;
    z-index: 1;
    height: 3px;
    background-color: @primary;
    border-radius: 3px;
  }
}
