// Color Palette
@gray-1: #ffffff;
@gray-2: #fafafa;
@gray-3: #f5f5f5;
@gray-4: #e8e8e8;
@gray-5: #d9d9d9;
@gray-6: #bfbfbf;
@gray-7: #8c8c8c;
@gray-8: #595959;
@gray-9: #262626;
@gray-10: #000000;

@black: @gray-10;
@white: @gray-1;
@gray: @gray-5;

@border-color: @gray-6;

@text-black: @black;
@text-gray: #999;

@primary: #ff5000;
@padding-base: 12px;
@font-size-xl: 10px;
@font-size-sm: 12px;
@font-size-base: 14px;
@font-size-lg: 16px;
@font-size-xl: 18px;
